div {
  background-color: rgb(245, 242, 242);
  padding: 10px;
  border-radius: 12px;
}

#button-group {
  display: flex;
  justify-content: end;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.seconary-button {
  background-color: #ccc;
  color: #000;
}

.edit-button {
  background-color: #000;
  color: #fff;
}

.delete-button {
  background-color: #ff0000;
  color: #fff;
}
