<form [formGroup]="newTaskFormGroup" (ngSubmit)="onSubmit()">
  <div class="input-field">
    <label for="title">Task Title</label>
    <input type="text" id="title" formControlName="title" />
  </div>
  <div class="input-field">
    <label for="description">Task Description</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>
  <div class="input-field">
    <label for="status">Task Status</label>
    <select id="status" formControlName="status">
      <option value="TODO">To Do</option>
      <option value="IN_PROGRESS">In Progress</option>
      <option value="COMPLETED">Completed</option>
    </select>
  </div>
  <div class="form-button-wrapper">
    <button [class.disabled]="this.newTaskFormGroup.invalid" type="submit">
      Add Task
    </button>
  </div>
</form>
